= form_for news_item, url: form_url, html: { method: form_method } do |f|
    .form-group.row
        .col-sm-2
            = label :news_item, :representative_id, class: 'col-form-label'
        .col-sm-10
            = select :news_item, :representative_id, representatives_list, { include_blank: true },
            class: 'form-control'
    .form-group.row
        .col-sm-2
            = label :news_item, :issue, 'Issue:', class: 'col-form-label'
        .col-sm-10
            = select :news_item, :issue,
                    ["Free Speech", "Immigration", "Terrorism", "Social Security and Medicare", 
                    "Abortion", "Student Loans", "Gun Control", "Unemployment", 
                    "Climate Change", "Homelessness", "Racism", "Tax Reform", 
                    "Net Neutrality", "Religious Freedom", "Border Security", 
                    "Minimum Wage", "Equal Pay"],
                    { include_blank: true },
                    { class: 'form-control' }        
    .actions
        = f.submit 'Search', class: 'btn btn-primary'